// 主色
$primaryColor-900: #28294F;
$primaryColor-800: #272D7A;
$primaryColor-500: #9187B9;
$primaryColor-100: #E9E6F3;

// 輔色
$secondaryColor-orange: #E48812;
$secondaryColor-yellow: #E3D04C;

// 背景色
$bgColor-white: #ffffff;

// 文字顏色
$FontColor-black: #000000;
$FontColor-gray: #c0c0c0;
$FontColor-white: #ffffff;

// input 顏色
$inputColor-border: #666;
$inputColor-focus: #272D7A;


